.about {
  padding: 120px 0px 150px 0px;
  .wrapperAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .lAbout {
      .wrapperImgAbout {
        position: relative;
        .rafaelAbout {
          border-radius: 10px;
          border: 1px solid var(--strokeColor);
        }
        .shape {
          position: absolute;
          bottom: -30px;
          right: -30px;
          z-index: 1;
          animation: rotateShape 7s ease-in-out infinite;
        }
      }
    }
    .rAbout {
      width: 100%;
      max-width: 484px;
      .aboutName {
        font-size: 40px;
        margin-bottom: 20px;
        .aboutNameBold {
          font-size: 40px;
          font-weight: 500;
        }
      }

      .aboutText {
        font-size: 18px;
        margin-bottom: 40px;
        color: var(--sTextColor);
        width: 100%;
        max-width: 455px;
      }

      .wrapperBigNumbers {
        display: flex;
        gap: 40px;
      }

      .boxBigNumber {
        width: 100%;
        max-width: 185px;
        display: flex;
        align-items: center;
        gap: 10px;
        .bigNumber {
          font-size: 45px;
        }
        .descBigNumber {
          text-align: 15px;
          color: var(--sTextColor);
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .about {
    padding: 60px 0px 70px 0px;
    .wrapperAbout {
      gap: 60px;
      .lAbout {
        display: none;
      }
      .rAbout {
        .aboutName {
          font-size: 35px;
          .aboutNameBold {
            font-size: 35px;
          }
        }

        .aboutText {
          max-width: 500px;
          font-size: 16px;
        }

        .wrapperBigNumbers {
          gap: 30px;
        }

        .boxBigNumber {
          width: 100%;
          max-width: 185px;
          display: flex;
          align-items: center;
          gap: 10px;
          .bigNumber {
            font-size: 35px;
          }
          .descBigNumber {
            text-align: 15px;
            color: var(--sTextColor);
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .about {
    padding: 40px 0px 80px 0px;
    .wrapperAbout {
      gap: 60px;
      flex-direction: column-reverse;
      .lAbout {
        width: 100%;
        .wrapperImgAbout {
          position: relative;
          width: 100%;
          .rafaelAbout {
            width: 80%;
          }
          .shape {
            bottom: -20px;
            right: -20px;
            width: 40px;
          }
        }
      }
      .rAbout {
        max-width: 100%;
        .aboutName {
          font-size: 35px;
          .aboutNameBold {
            font-size: 35px;
          }
        }

        .aboutText {
          max-width: 500px;
          font-size: 16px;
        }

        .wrapperBigNumbers {
          gap: 30px;
        }

        .boxBigNumber {
          width: 100%;
          max-width: 185px;
          display: flex;
          align-items: center;
          gap: 10px;
          .bigNumber {
            font-size: 35px;
          }
          .descBigNumber {
            text-align: 15px;
            color: var(--sTextColor);
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .wrapperBigNumbers {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .about {
    .wrapperAbout {
      .rAbout {
        .aboutName {
          max-width: 250px;
          font-size: 33px;
          .aboutNameBold {
            font-size: 33px;
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .about {
    .wrapperAbout {
      .rAbout {
        .aboutName {
          width: 200px;
          font-size: 32px;
          .aboutNameBold {
            font-size: 32px;
          }
        }
      }
    }
  }
}

@keyframes rotateShape {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
