.cardProject {
  width: 100%;
  transition: all 0.5s ease;
  background-color: var(--bgMainColor);
  border: 1px solid var(--strokeColor);
  padding: 30px;
  border-radius: 10px;

  .tCardProject {
    .wrapperProjectThumb {
      border-radius: 8px;
      margin-bottom: 50px;
      overflow: hidden;
      width: 100%;
    }
    .projectThumb {
      width: 100%;
      transition: all 0.4s ease;
      object-fit: cover;
    }
  }

  .bCardProject {
    .nameProject {
      font-size: 30px;
    }
    .wrapperNameTechs {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 45px;
      flex-wrap: wrap;
    }
    .wrapperButtons {
      display: flex;
      align-items: center;
      gap: 50px;
      .liveProject {
        display: flex;
        align-items: center;
        gap: 10px;
        .textBtn {
          font-size: 22px;
          transition: all 0.4s ease;
          border-bottom: 1px solid var(--bgMainColor);
        }
        .arrowBtn {
          transition: all 0.4s ease;
          transform: rotate(-45deg);
          margin-top: 2px;
        }
      }
      .liveProject:hover .arrowBtn {
        opacity: 50%;
        transform: rotate(0deg);
      }

      .liveProject:hover .textBtn {
        opacity: 50%;
        border-bottom: 1px solid #ffffff;
      }

      .repProject {
        transition: opacity 0.4s ease;
      }

      .repProject:hover {
        opacity: 50%;
      }
    }
  }
}

.cardProject:hover {
  background-color: #0a0a0a;
}

.cardProject:hover .projectThumb {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cardProject {
    .bCardProject {
      .nameProject {
        font-size: 25px;
      }
      .wrapperButtons {
        .liveProject {
          .textBtn {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .cardProject {
    .bCardProject {
      .nameProject {
        font-size: 25px;
      }
      .wrapperButtons {
        margin-top: 30px;
        justify-content: space-between;
        .liveProject {
          .textBtn {
            font-size: 25px;
          }
        }
      }
    }
  }
}
