.projects {
  padding: 50px 0px 0px 0px;
}

.wrapperProjects {
  padding: 100px 0px 120px 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  .lProjects {
    position: sticky;
    top: 15%;
    max-width: 385px;
    .titleProjects {
      font-size: 40px;
      margin-bottom: 10px;
    }
    .textProjects {
      font-size: 18px;
      color: var(--sTextColor);
      width: 100%;
      max-width: 350px;
    }
  }
  .rProjects {
    width: 100%;
    max-width: 55%;
    .wrapperCardsProjects {
      display: flex;
      align-items: center;
      gap: 100px;
      flex-direction: column;
    }
  }
}
