.skills {
  padding: 140px 0px;

  .wrapperSkills {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .lSkills {
      position: sticky;
      top: 15%;
      max-width: 385px;
      .titleSkills {
        font-size: 40px;
        margin-bottom: 10px;
      }
      .textSkills {
        font-size: 18px;
        color: var(--sTextColor);
      }
    }

    .rSkills {
      width: 100%;
      max-width: 55%;
      .wrapperCardsSkills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
      }
    }
  }
}

@media (max-width: 970px) {
  .skills {
    padding: 80px 0px;

    .wrapperSkills {
      flex-direction: column;
      gap: 30px;
      .lSkills {
        position: static;
        top: 15%;
        max-width: 385px;
        .titleSkills {
          font-size: 40px;
          margin-bottom: 10px;
        }
        .textSkills {
          font-size: 18px;
          color: var(--sTextColor);
        }
      }

      .rSkills {
        max-width: 100%;
        .wrapperCardsSkills {
          grid-template-columns: repeat(4, 1fr);
          gap: 30px;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .skills {
    padding: 50px 0px;

    .wrapperSkills {
      flex-direction: column;
      gap: 30px;
      .lSkills {
        position: static;
        top: 15%;
        max-width: 385px;
        .titleSkills {
          font-size: 40px;
          margin-bottom: 10px;
        }
        .textSkills {
          font-size: 18px;
          color: var(--sTextColor);
        }
      }

      .rSkills {
        max-width: 100%;
        .wrapperCardsSkills {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .skills {
    padding: 80px 0px;

    .wrapperSkills {
      .rSkills {
        .wrapperCardsSkills {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .skills {
    padding: 80px 0px;

    .wrapperSkills {
      .rSkills {
        .wrapperCardsSkills {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .skills {
    .wrapperSkills {
      .lSkills {
        max-width: 100%;
        .titleSkills {
          font-size: 30px;
        }
      }
      .rSkills {
        .wrapperCardsSkills {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
