.skills {
  padding: 120px 0px 100px 0px;

  .wrapperSkills {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .lSkills {
      position: sticky;
      top: 10%;
      max-width: 385px;
      .titleSkills {
        font-size: 40px;
        margin-bottom: 10px;
      }
      .textSkills {
        font-size: 18px;
        color: var(--sTextColor);
      }
    }

    .rSkills {
      width: 100%;
      max-width: 55%;
      .wrapperCardsSkills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
      }
    }
  }
}
